In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from nelson_lab_to_nwb.interfaces import NoldusInterface
import tdt

In [3]:
# Load ttl timestamps sync array
reader = tdt.read_block(block_path="/media/luiz/Seagate Basic/storage/catalystneuro/nelson_lab/Raw_TDT_photometry_withVideos")
ttl_sync_array = reader.epocs["Cam2"].onset

interface = NoldusInterface(
    file_path="/media/luiz/Seagate Basic/storage/catalystneuro/nelson_lab/Raw_TDT_photometry_withVideos/Behavior_rp230717g-230912.xlsx",
    reference_timestamps=ttl_sync_array,
)

read from t=0s to t=11265.36s

/mnt/shared_storage/Github/nelson-lab-to-nwb/src/nelson_lab_to_nwb/interfaces/noldus_interface.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df["timestamp_samples"] = timestamp_samples
/mnt/shared_storage/Github/nelson-lab-to-nwb/src/nelson_lab_to_nwb/interfaces/noldus_interface.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df["synced_timestamps"] = [

In [4]:
interface.df

,Elongation,Velocity,Distance moved,Rotation,Trial time,timestamp_samples,synced_timestamps
1,0.402141,-,-,0,1.05,21.0,1.252884
2,0.411611,0.832012,0.041601,0,1.1,22.0,1.302364
3,0.378914,1.70106,0.085053,0,1.15,23.0,1.302364
4,0.374813,1.17714,0.058857,0,1.2,24.0,1.354138
5,0.368684,1.29366,0.064683,0,1.25,25.0,1.452769
...,...,...,...,...,...,...,...
225291,0.20828,0.005464,0.000273,0,11265.55,225311.0,NaN
225292,0.202267,0.097676,0.004884,0,11265.6,225312.0,NaN
225293,0.203286,0.019154,0.000958,0,11265.65,225313.0,NaN
225294,0.203286,0.023446,0.001172,0,11265.7,225314.0,NaN
225295,0.202821,0.018901,0.000945,0,11265.75,225315.0,NaN

In [5]:
interface.df[-30:]

,Elongation,Velocity,Distance moved,Rotation,Trial time,timestamp_samples,synced_timestamps
225266,0.202119,0.044728,0.002236,0,11264.3,225286.0,11264.402227
225267,0.201093,0.008578,0.000429,0,11264.35,225287.0,11264.503644
225268,0.201467,0.047232,0.002362,0,11264.4,225288.0,11264.503644
225269,0.199188,0.062566,0.003128,0,11264.45,225289.0,11264.602604
225270,0.196082,0.145952,0.007298,0,11264.5,225290.0,11264.649626
225271,0.199716,0.108314,0.005416,0,11264.55,225291.0,11264.649626
225272,0.194426,0.124032,0.006202,0,11264.6,225292.0,11264.750387
225273,0.195823,0.040568,0.002028,0,11264.65,225293.0,11264.750387
225274,0.203021,0.105995,0.0053,0,11264.7,225294.0,11264.850821
225275,0.203021,0.054785,0.002739,0,11264.75,225295.0,11264.901448
225276,0.204216,0.002599,0.00013,0,11264.8,225296.0,11264.901448
225277,0.20398,0.027197,0.00136,0,11264.85,225297.0,11265.000899
225278,0.196967,0.049865,0.002493,0,11264.9,225298.0,11265.000899
225279,0.196289,0.025184,0.001259,0,11264.95,225299.0,11265.101005
225280,0.207673,0.146733,0.007337,0,11265,225300.0,11265.151468
225281,0.208398,0.042643,0.002132,0,11265.05,225301.0,11265.151468
225282,0.208221,0.019331,0.000967,0,11265.1,225302.0,11265.252065
225283,0.209248,0.026558,0.001328,0,11265.15,225303.0,11265.252065
225284,0.210313,0.047366,0.002368,0,11265.2,225304.0,NaN
225285,0.208127,0.023762,0.001188,0,11265.25,225305.0,NaN
225286,0.208127,0.014488,0.000724,0,11265.3,225306.0,NaN
225287,0.207358,0.00689,0.000345,0,11265.35,225307.0,NaN
225288,0.20828,0.004626,0.000231,0,11265.4,225308.0,NaN
225289,0.20828,0.006921,0.000346,0,11265.45,225309.0,NaN
225290,0.20828,0.006215,0.000311,0,11265.5,225310.0,NaN
225291,0.20828,0.005464,0.000273,0,11265.55,225311.0,NaN
225292,0.202267,0.097676,0.004884,0,11265.6,225312.0,NaN
225293,0.203286,0.019154,0.000958,0,11265.65,225313.0,NaN
225294,0.203286,0.023446,0.001172,0,11265.7,225314.0,NaN
225295,0.202821,0.018901,0.000945,0,11265.75,225315.0,NaN

In [ ]:
import pandas as pd

# Path to your Excel file
file_path = '/media/luiz/Seagate Basic/storage/catalystneuro/nelson_lab/Raw_TDT_photometry_withVideos/Behavior_rp230717g-230912.xlsx'

# Function to find the header row index
def find_header_row(file_path):
    # Attempt to open the file as an Excel workbook
    with pd.ExcelFile(file_path, engine='openpyxl') as xls:
        # Loop through each row in the first sheet
        for sheet_name in xls.sheet_names:
            sheet = xls.parse(sheet_name=sheet_name, header=None)
            for row_idx, row in sheet.iterrows():
                # Check for a specific pattern or keywords in the row
                if "Trial time" in row.values and "Recording time" in row.values:
                    return row_idx
    # Return None if no header is found
    return None

# Find the header row index
header_row = find_header_row(file_path)
if header_row is not None:
    df = pd.read_excel(file_path, header=header_row, engine='openpyxl')
    df = df.drop(index=0)
else:
    print("Header row not found.")

In [ ]:
df

In [ ]:
def fill_missing_values(arr, step=0.05, missing_value=None):
    filled_arr = []
    n = len(arr)
    i = 0
    while i < n-1:
        filled_arr.append(arr[i])
        # Calculate the expected next value
        next_value = arr[i] + step
        # Check if the actual next value in the array matches the expected next value
        if abs(arr[i+1] - next_value) > 1e-5:  # Using a tolerance to avoid floating-point arithmetic issues
            # If not, a value is missing. Insert the missing value.
            print("here")
            while abs(arr[i+1] - next_value) > 1e-5:
                filled_arr.append(missing_value)
                next_value += step
        i += 1
    filled_arr.append(arr[-1])  # Add the last item
    return filled_arr

In [ ]:
initial_array = df["Trial time"].values
filled_array = fill_missing_values(initial_array)

print(len(initial_array))
print(len(filled_array))

In [ ]:
df = pd.read_excel(io='/media/luiz/Seagate Basic/storage/catalystneuro/nelson_lab/Raw_TDT_photometry_withVideos/Processed_behavior_LID_v2.xlsx')